<nav class="navbar">
      <div class="container">
      <div class="col-lg-12">
        <div class="navbar-header navbar-static-top">
          <a class="navbar-brand" href="/">UsherBank</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
            	<a href="#">
            		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            		Jane Doe
            		<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            	</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      </div>
    </nav>

<div class="container">
	<div class="col-lg-3">
		<ul class="list-unstyled">
			<li><a href="/#/teller/lookup"><span class="glyphicon glyphicon-search"></span> Customer Lookup</a></li>
			<li><span class="glyphicon glyphicon-wrench"></span> Teller Tools</li>
			<li><span class="glyphicon glyphicon-globe"></span> Branches</li>
			<li><span class="glyphicon glyphicon-user"></span> My Profile</li>
			<li><span class="glyphicon glyphicon-off"></span> Log Out</li>
		</ul>
	</div>
	
	<div class="col-lg-9">

				<h4>Customer Lookup</h4>
				<p>Enter Usher code below to validate customer identity.</p>

	<form class="form-inline form-ushercode">
		<input type="text" class="form-control input-lg input-ushercode" id="usherCodeInput" maxlength="8">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
	</form>
			
	<script>
		$(document).ready(function () {
    var charLimit = 1;
    $(".input-ushercode").keydown(function(e) {

        var keys = [8, 9, /*16, 17, 18,*/ 19, 20, 27, 33, 34, 35, 36, 37, 38, 39, 40, 45, 46, 144, 145];

        if (e.which == 8 && this.value.length == 0) {
            $(this).prev('.inputs').focus();
        } else if ($.inArray(e.which, keys) >= 0) {
            return true;
        } else if (this.value.length >= charLimit) {
            $(this).next('.inputs').focus();
            return false;
        } else if (e.shiftKey || e.which <= 48 || e.which >= 58) {
            return false;
        }
    }).keyup (function () {
        if (this.value.length >= charLimit) {
            $(this).next('.input-ushercode').focus();
            return false;
        }
    });
	</script>


	</div><!--/ .col-lg-9 -->

</div><!--/ .container -->


	